@charset "UTF-8";
@font-face {
  font-family: "Silkscreen";
  src: url("../fonts/Silkscreen-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf");
  font-display: swap;
}
/*******************************************
  works.php (website)
*******************************************/
.works-display-area {
  width: 100%;
  margin: 0 auto;
}
.works-display-area__genres {
  width: 100%;
}
.works-display-area .works-category {
  display: inline;
  font-size: 28px;
  font-weight: 300;
  border-bottom: 1px solid #000;
  margin-left: -1em;
}
.works-display-area .works-category::before {
  white-space: pre-wrap;
  content: " ";
}
.works-display-area .works-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 24px;
}
.works-display-area .works-wrap {
  width: 48%;
  min-width: 300px;
  margin-bottom: 20px;
  position: relative;
}
.works-display-area .works-wrap .hover-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.works-display-area .works-wrap .hover-text p {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.works-display-area .works-wrap:hover .hover-text {
  opacity: 1;
  transition: all 0.5s;
  cursor: pointer;
}
.works-display-area .works-wrap::before, .works-display-area .works-wrap ::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  opacity: 1;
}
.works-display-area .works-wrap::before {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.works-display-area .works-wrap .works-img {
  width: 100%;
  aspect-ratio: 16/9;
  text-align: center;
  position: relative;
}
.works-display-area .works-wrap .img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.works-display-area .works-wrap img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.works-display-area .works-wrap .work-name {
  width: 95%;
  height: 30px;
  font-size: 20px;
  margin: 0 auto;
  margin-top: 3px;
  text-align: left;
}
.works-display-area .works-wrap .caption {
  font-size: 12px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

/*******************************************
  works.php (video)
*******************************************/
.works-wrap .works-iframe {
  width: 100%;
  margin-bottom: 2%;
}
.works-wrap .works-iframe iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

/*******************************************
  profile.php
*******************************************/
.profile-display-area__content {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.profile-display-area__content table {
  width: 100%;
}
.profile-display-area__content table tr {
  height: 48px;
}
.profile-display-area__content table tr th {
  width: 18%;
  vertical-align: bottom;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  text-indent: 1em;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
.profile-display-area__content table tr td {
  vertical-align: bottom;
  font-size: 20px;
  font-weight: 300;
  text-indent: 1em;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

/*******************************************
  more_info.php
*******************************************/
.more-info-display-area {
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.more-info-display-area__title {
  width: 100%;
  font-size: 28px;
  margin-bottom: 10px;
}
.more-info-display-area__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.more-info-display-area__top video {
  width: 73%;
  height: auto;
  background-color: #fff;
  filter: drop-shadow(0px 0px rgba(0, 0, 0, 0));
  outline: none;
  border: none;
}
.more-info-display-area__top__right {
  width: 25%;
  height: auto;
  text-align: center;
}
.more-info-display-area__top__right img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}
.more-info-display-area__top__right a {
  width: 80%;
  margin: 0 auto;
  display: block;
  position: relative;
}
.more-info-display-area__top__right a h3 {
  width: 100%;
  margin: 0 auto;
  line-height: 2;
  font-size: 20px;
  text-align: center;
  display: block;
  padding: 5px 0 5px 0;
  position: relative;
}
.more-info-display-area__top__right a h3::before, .more-info-display-area__top__right a h3::after {
  content: "";
  width: 40px;
  height: 20px;
  position: absolute;
}
.more-info-display-area__top__right a h3::before {
  border-left: solid 1px #000;
  border-top: solid 1px #000;
  top: 0;
  left: 0;
}
.more-info-display-area__top__right a h3::after {
  border-right: solid 1px #000;
  border-top: solid 1px #000;
  top: 0;
  right: 0;
}
.more-info-display-area__top__right a img {
  width: 32px;
  height: auto;
  margin: 10px auto;
}
.more-info-display-area__top__right a p {
  font-size: 14px;
  line-height: 2;
}
.more-info-display-area__top__right a::before, .more-info-display-area__top__right a::after {
  content: "";
  width: 40px;
  height: 20px;
  position: absolute;
}
.more-info-display-area__top__right a::before {
  border-left: solid 1px #000;
  border-bottom: solid 1px #000;
  bottom: 0;
  left: 0;
}
.more-info-display-area__top__right a::after {
  border-right: solid 1px #000;
  border-bottom: solid 1px #000;
  bottom: 0;
  right: 0;
}
.more-info-display-area__bottom {
  width: 90%;
}
.more-info-display-area__bottom div {
  width: 100%;
  margin: 30px auto;
}
.more-info-display-area__bottom__title {
  display: inline-block;
  font-size: 28px;
  border-bottom: 1px solid #000;
  margin-bottom: 24px;
}
.more-info-display-area__bottom__title::before {
  white-space: pre-wrap;
  content: " ";
}
.more-info-display-area__bottom h4 {
  width: 95%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 2;
  margin-bottom: 15px;
}
.more-info-display-area__bottom p, .more-info-display-area__bottom ol {
  width: 95%;
  margin: 0 auto;
}
.more-info-display-area__bottom p {
  text-indent: 1em;
  line-height: 1.5;
}
.more-info-display-area__bottom ol {
  width: 90%;
  list-style-type: decimal;
}
.more-info-display-area__bottom li {
  line-height: 1.5;
  margin-bottom: 15px;
}

/*******************************************
  contact.php
*******************************************/
.contact-display-area__content {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-display-area__content table {
  width: 100%;
}
.contact-display-area__content table tr {
  height: 48px;
}
.contact-display-area__content table tr th {
  width: 18%;
  vertical-align: bottom;
  text-align: left;
  font-size: 24px;
  font-weight: 300;
  text-indent: 1em;
  border-bottom: 1px solid #000;
  padding-bottom: 5px;
}
.contact-display-area__content table tr td {
  vertical-align: bottom;
  font-size: 20px;
  font-weight: 300;
  text-indent: 1em;
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
}

/*******************************************
  トップページ__ヘッダー
*******************************************/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.top-wrapper {
  width: 100%;
  height: 100vh;
}
.top-wrapper__header {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 1px 1px 0 #999;
}
.top-wrapper__header__wrapper {
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  font-weight: 300;
}
.top-wrapper__header__wrapper__title {
  font-size: 28px;
}
.top-wrapper__header__wrapper ul li {
  float: left;
  margin-right: 20px;
  font-size: 18px;
}
.top-wrapper__content {
  width: 100%;
  height: 80%;
}

/*******************************************
  トップページ__メイン
*******************************************/
.main-wrapper {
  width: 100%;
}
.main-wrapper__title {
  font-size: 60px;
  font-weight: 200;
  width: 75%;
  margin: 30px auto;
}
.main-wrapper__content {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* import */
/*# sourceMappingURL=style.css.map */