@use "./define/variables" as v;

/*******************************************
  画面レイアウト
*******************************************/
.layout {
  width: 100%;
  display: flex;
  font-family: 'Montserrat', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic" ,sans-serif;
  &__header{
    width: 20%;
    min-width: 250px;
    max-height: 100vh;
    height: calc(var(--vh) * 100);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 0 5px 0 #898989;
    padding-left: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    h1{
      font-size: 36px;
      line-height: 1.5;
    }
    ul{
      font-size: 24px;
      height: 30vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      a{
        padding-bottom: 5px;
        padding-left: 10px;
        margin-right: 15px;
        border-bottom: 1px solid #555;
      }
      .now{
        font-size: 30px;
      }
    }
  }
  &__main{
    width: 80%;
    &__area{
      width: 90%;
      margin: 0 auto;
      margin-top: 4%;
      .page-title{
        display: inline;
        font-size: 36px;
        border-bottom: 1px solid v.$black;
        &::before{
          white-space: pre-wrap;
          content: ' ';
        }
      }
    }
  }
}
