////////////* header common *////////////

// include
@use "../define/variables" as v;


.header {
  width: 100%;
  height: 100px;
  box-shadow: 0 1px 3px 0 v.$gray;
  font-family: v.$base_font;
  font-size: 18px;
  &__wrapper{
    width: 90%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    ul {
      width: 50%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 12px;
      li{
        position: relative;
        &::after{
          position: absolute;
          left: 0;
          content: '';
          width: 100%;
          height: 1px;
          background: v.$black;
          bottom: -2px;
          transform: scale(0, 1);
          transform-origin: right top;
          transition: transform 0.3s;
        }
        &:hover::after{
          transform: scale(1, 1);
          transform-origin: left top;
        }
      }
    }
  }
}

#current-page {
  border-bottom: 1px solid v.$black;
}