@charset "utf-8";

/*****************************************
  全体
*****************************************/
html {
  scroll-behavior: smooth;
}
body {
  font-family: YuMincho, 'Yu Mincho', serif;
  background-image: url('../img/bg/page_anim.webp');
}

a {
  text-decoration: none;
  
  color: black;
}
.a--hover:hover , footer a:hover {
  opacity: .6;
  transition: all .5s;
}

.font-alegreya {
  font-family: 'Alegreya Sans SC', YuMincho, 'Yu Mincho', serif;
}

.hr--style { 
  border: 0; 
  width: 70%;
  height: 1px;
  margin: 0 auto;
  margin-top: 50px; 
  margin-bottom: 30px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #cdcdcd, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #cdcdcd, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #cdcdcd, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #cdcdcd, #f0f0f0);
}


/*****************************************
  全体(画面配置、タイトル)
*****************************************/
.top-main .top-main__content {
  width: 80%;
  min-width: 420px;
  margin: 0 auto;
  margin-top: 30px;
}
.top-main .top-main__title {
  display: inline-block;
  font-family: 'Alegreya Sans SC', YuMincho, 'Yu Mincho', serif;
  letter-spacing: 1px;
  font-size: 45px;
  border-bottom: 1px #898989 solid;
  padding-right: 150px;
  margin-bottom: 30px;
}


/*****************************************
  画面遷移アニメーション
*****************************************/
/*========= ローディング画面のためのCSS ===============*/
#page-splash {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #e6e6fa;
  background-image: url('../img/bg/page_anim.webp');
	z-index: 999999;
	text-align:center;
	color:#000;
}

#page-splash-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -55%);
  font-family: 'Alegreya Sans SC', YuMincho, 'Yu Mincho', serif;
  font-size: 48px;
  letter-spacing: 2.2px;
}

/*========= 画面遷移のためのCSS ===============*/

/*画面遷移アニメーション*/
.page-splashbg{
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .page-splashbg{
  display: block;
  content: "";
  position:fixed;
	z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
	left: 0;
  transform: scaleX(0);
  background-color: #e6e6fa;/*伸びる背景色の設定*/
	animation-name:PageAnime;
	animation-duration:.8s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
}

@keyframes PageAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/*画面遷移の後現れるコンテンツ設定*/
.container{
	opacity: 0;/*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear .container{
	animation-name:PageAnimeAppear;
	animation-duration:.8s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes PageAnimeAppear{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}


/*****************************************
  画面レイアウト & 横ヘッダー
*****************************************/
.wrapper {
  width: 100%;
  max-width: 1920px;
  min-width: 640px;
  min-height: 640px;
  margin: 0 auto;
  display: flex;
  position: relative;
}
.wrapper::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(rgba(0,0,0, 0) 94%,rgba(255,255,255,1));
  pointer-events: none;
}
.wrapper-wide {
  width: 100%;
  background-color: #fff;
}
.top-header {
  width: 20%;
  max-width: 400px;
  min-width: 200px;
  height: 100vh;
  min-height: 640px;
  box-shadow: 1px -4px 4px 0 #c0c0c0;
  font-family: 'Alegreya Sans SC', YuMincho, 'Yu Mincho', serif;
  z-index: 10;
  position: relative;
  overflow: hidden;
}
.top-header::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(rgba(0,0,0, 0) 95%,rgba(255,255,255,1));
  pointer-events: none;
}
.top-header__ul {
  margin: 0 auto;
  margin-left: 40px;
  margin-top: 60px;
  line-height: 2.5;
  font-size: 32px;
  letter-spacing: 0.8px;
}
.top-header__ul__home {
 margin-bottom: 20px;
 padding-left: 20px;
 margin-left: -20px;
 font-size: 48px;
 line-height: 1.5;
 border-bottom: 1px solid #000; 
}
.top-header__ul__home a {
  color: #000;
}
#current-page {
  font-size: 45px;
}
.top-header__ul li.li-anim:hover {
  transform: scale(1.2);
  margin-left: 24px;
  transition: all 0.5s;
}
.top-header__ul--other {
  margin-top: 10px;
  margin-left: 40px;
  line-height: 2.2;
  font-size: 18px;
}
.top-header__ul--other li:hover {
  transform: scale(1.2);
  margin-left: 24px;
  transition: all 0.5s;
}
.top-main {
  width: 80%;
  min-height: 640px;
  position: relative;
}

/*****************************************
  上固定ヘッダー
*****************************************/
.header-fixed__wrapper {
  width: 100%;
  height: 5em;
  box-shadow: 0 1px 4px 0 #b0b0b0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.header-fixed {
  width: 65%;
  height: 4.5em;
  min-width: 450px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header-fixed__logo{
  font-size: 42px;
  margin-bottom: .2em;
}
.header-fixed__ul {
  width: 42%;
  min-width: 250px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}
.header-fixed__ul li {
  margin-left: 15px;
  padding-bottom: 0px;
  position: relative;
}
.header-fixed__ul li::before {
  background: #444;
  content: '';
  width: 100%;
  height: 1.4px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: auto;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .3s;
}
.header-fixed__ul li:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}
.display-none {
  display: none;
}

/*------------- 季節ごと背景パターン -------------*/
.bg-img--spring {
  background-image: url('../img/bg/spring_bg.webp');
}
.bg-img--summer {
  background-image: url('../img/bg/summer_bg.webp');
}
.bg-img--autumn {
  background-image: url('../img/bg/autumn_bg.webp');
}
.bg-img--winter {
  background-image: url('../img/bg/winter_bg.webp');
}

/*****************************************
フッター(固定)
*****************************************/
.top-main-footer {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 100vh;
  width: 100%;
  height:140px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 -1px 4px 0 #c0c0c0;
}
.top-main-footer__ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.top-main-footer__ul ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100px;
  font-family: 'Alegreya Sans SC', YuMincho, 'Yu Mincho', serif;
  font-size: 20px;
}
.top-main-footer__copy {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.top-main-footer__copy .social__icon__title{
  font-family: 'Alegreya Sans SC', YuMincho, 'Yu Mincho', serif;
  font-size: 18px;
  width: 75%;
  margin-bottom: 15px;
  border-bottom: 1px #898989 solid;
}
.top-main-footer__copy .social__icon__container {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.top-main-footer__copy .social__icon #twitter_icon{
  width: 40px;
}
.top-main-footer__copy .social__icon #instagram_icon{
  width: 41px;
}
.top-main-footer__copy .social__icon #facebook_icon{
  width: 45px;
  margin-top: -2px;
}
.top-main-footer__copy .social__icon #youtube_icon{
  width: 56px;
}
.top-main-footer__copy small{
  font-size: 12px;
}
/*****************************************
フッター
*****************************************/
.normal-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height:140px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 -1px 4px 0 #c0c0c0;
}


/*****************************************
 TOPへスクロール(固定)
*****************************************/
#page-top__button {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 60px;
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #c0c0c0;
  border-radius: 100%;
  box-shadow: 0 1px 2px 0 #999;
  text-align: center;
  z-index: 50;
}
#page-top__button img {
  transform: rotate(-90deg);
  width: 60%;
  height: 60%;
  margin-top: 9px;
}


/*****************************************
  index.html
*****************************************/
.index-header {
  background-image: url('../img/bg/top_bg.webp');
}
.slide-items__wrap {
  width: 100%;
}
.top-main .slide-items {
  width: 100%;
}
.top-main .slide-items__wrap .slide-items__item img{
  width: 100%;
  height: 100vh;
  min-height: 640px;
  object-fit: cover;
  filter: blur(3px);
}
.top-main__top-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 65%;
  max-width: 960px;
  min-width: 400px;
  height: 60vh;
  min-height: 450px;
  max-height: 640px;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 4px 0 #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-main__top-text__textarea{
  width: 80%;
  margin: auto;
  text-align: center;
}
.top-main__top-text__textarea h3 {
  font-size: 32px;
  margin-bottom: 1em;
  letter-spacing: 1.1px;
}
.top-main__top-text__textarea p {
  font-size: 18px;
  line-height: 1.8;
}
/* TopPage Arrow-under */
.top-main__arrow--under {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  margin-bottom: 30px;
  width: 40px;
  opacity: 1;
}
.top-main__arrow--under {
  transition: all .5s;
	animation: TopPageArrowAnim 2s infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes TopPageArrowAnim{
	0% {
  transform: translateY(0);
}
100% {
  transform: translateY(-10px);
  
}
}

/******** TopPage Contents ********/
.top-page__contents__wrapper {
  width: 100%;
  max-width: 1920px;
  min-width: 650px;
  margin: 0 auto;
  background-color: #fff;
}
.top-page__content__title {
  width: 70%;
  max-width: 1000px;
  min-width: 650px;
  font-size: 32px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.top-page__content {
  position: relative;
  width: 100%;
  height: 1300px;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 1.5s;
}
.top-page__content h2 {
  font-size: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transform: translate(12%, 9%);
}
.top-page__content h2 span {
  font-size: 42px;
  letter-spacing: 1px;
}
@media screen and (max-width: 960px) {
  .top-page__content {
    height: 900px;
  }
  .top-page__content h2 {
    font-size: 72px;
  }
  .top-page__content h2 span {
    font-size: 24px;
  }
}
.top-page__content img{
  position: absolute;

}
.top-page__content .large-img{
  width: 80%;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
}
.top-page__content .mid-img{
  width: 50%;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: translate(30%, -100%);
  z-index: 1;
}
.top-page__content .small-img{
  width: 35%;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  transform: translateY(100%);
  z-index: 3;
}




/*****************************************
  春夏秋冬ページ共通
*****************************************/
.top-main__buttonarea {
  width: 95%;
  height: 60vh;
  min-height: 360px;
  margin: 0 auto;
  margin-bottom: 15px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.top-main__buttonarea a {
  width: 51%;
  min-width: 440px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 36px;
  letter-spacing: 1.2px;
  padding: 8px 0;
  padding-left: 15px;
}
.top-main__buttonarea a::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  margin-right: 18px;
  border-top: 4px solid rgba(0, 0, 0, 1);
  border-right: 4px solid rgba(0, 0, 0, .4);
  transform: rotate(45deg);
}
.top-main__buttonarea a:nth-child(1){
  margin-right: auto;
}
.top-main__buttonarea a:nth-child(2){
  margin-right: auto;
  margin-left: auto;
}
.top-main__buttonarea a:nth-child(3){
  margin-left: auto;
}



/* hoverアニメーション */
.top-main__buttonarea a.button_hop:hover {
  background-color: rgba(255,255,255,.95);
  transition: all .3s;
  animation: button_hop 1.3s infinite alternate;
}
@keyframes button_hop {
  from {
    transform: translateY(-2px);
  }
  to {
    transform: translateY(-10px);
  }
}
/* フェードアップアニメーション */
.fadeUp{
  animation-name: fadeUpAnim;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
@keyframes fadeUpAnim {
  from{
    opacity: 0;
    transform: translateX(-50px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}
.delay-time{
  animation-delay: 2.6s;
}


/* iframe設定 */
.top__iframe-wrapper {
  width: 36%;
  min-width: 384px;
  margin: auto 2.5em auto auto;
  position: relative;
}
.top__iframe-wrapper::before{
  content: "";
  display: block;
  padding-top: 56.25%;
}
.top__iframe-wrapper iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 1px 8px rgba(255,255,255,.7);
  border-radius: 1px;
}



/* wrapper-wide__content */
.wrapper-wide__content {
  width: 65%;
  min-width: 800px;
  margin: 0 auto;
  padding: 100px 0;
}
@media screen and (max-width: 900px) {
  .wrapper-wide__content {
    min-width: 600px;
  }
}
.wrapper-wide__content__title {
  display: inline-block;
  font-family: 'Alegreya Sans SC', YuMincho, 'Yu Mincho', serif;
  letter-spacing: 1px;
  font-size: 52px;
  border-bottom: 1px #898989 solid;
  padding-right: 150px;
  padding-left: 10px;
  margin-bottom: 40px;
  scroll-margin-top: 3em;
}
/* .wrapper-wide__content内の要素 */
.wrapper-wide__content__sub {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
}
.wrapper-wide__content__sub:nth-child(even){
  flex-direction: row-reverse;
}
.wrapper-wide__content__sub:nth-child(odd){
  flex-direction: row;
}
.wrapper-wide__content__sub img{
  width: 53%;
  min-width: 320px;
  height: auto;
  object-fit: cover;
  border-radius: 3px;
}
.wrapper-wide__content__sub__textarea {
  width: 45%;
}
@media screen and (max-width: 900px) {
  .wrapper-wide__content__sub img{
    width: 70%;
    max-width: 640px;
    height: auto;
    object-fit: cover;
  }
  .wrapper-wide__content__sub__textarea {
    width: 70%;
    margin-bottom: 40px;
  }
}
.wrapper-wide__content__sub__textarea h4 {
  font-size: 25px;
  line-height: 2.5;
  letter-spacing: 0.6px;
}
.wrapper-wide__content__sub__textarea h4 span {
  font-size: 21px;
}
.wrapper-wide__content__sub__textarea p {
  font-family: YuMincho, 'Yu Mincho', serif;
  font-size: 16px;
  line-height: 1.9;
  margin-bottom: 15px;
  margin-left: 3px;
}


/************* introduction-content *************/
.introduction-content__wrapper {
  width: 70%;
  max-width: 1000px;
  min-width: 600px;
  margin: 200px auto;
}
.introduction-content__wrapper h2 {
  font-size: 32px;
  line-height: 1.5;
}
@media screen and (max-width: 960px) {
  .introduction-content__wrapper h2 {
    font-size: 20px;
    line-height: 1.5;
  } 
}
.introduction-content__wrapper h2:nth-child(odd){
  text-align: left;
  margin-bottom: 15px;
}
.introduction-content__wrapper h2:nth-child(even){
  text-align: right;
}





/************* フェードインアニメーション *************/
.wrapper-wide__content__sub {
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px);
  transition: all 1.5s;
}
.fadeIn {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}



/*****************************************
spring.html
*****************************************/
.spring-header{
  background-image: url('../img/bg/spring_bg.webp');
  background-color: rgba(255,255,255,.8);
}
.spring-main {
  width: 100%;
  height: 100vh;
  min-height: 640px;
  background-image: url('../img/top_spring.jpg');
  background-position: center;
  background-size: cover;
}
.spring-main:hover {
  opacity: 1;
}



/*****************************************
  summer.html
*****************************************/
.summer-header{
  background-image: url('../img/bg/summer_bg.webp');
}
.summer-main {
  width: 100%;
  height: 100vh;
  min-height: 640px;
  background-image: url('../img/top_summer.jpg');
  background-position: center;
  background-size: cover;
}
.summer-main:hover {
  opacity: 1;
}


/*****************************************
  autumn.html
*****************************************/
.autumn-header{
  background-image: url('../img/bg/autumn_bg.webp');
}
.autumn-main {
  width: 100%;
  height: 100vh;
  min-height: 640px;
  background-image: url('../img/top_autumn.jpg');
  background-position: center;
  background-size: cover;
}
.autumn-main:hover {
  opacity: 1;
}



/*****************************************
  winter.html
*****************************************/
.winter-header{
  background-image: url('../img/bg/winter_bg.webp');
}
.winter-main {
  width: 100%;
  height: 100vh;
  min-height: 640px;
  background-image: url('../img/top_winter.jpg');
  background-position: center;
  background-size: cover;
}
.winter-main:hover {
  opacity: 1;
}





/*****************************************
  サブページ全般
*****************************************/
.top-main__subcontent {
  width: 100%;
  margin-bottom: 30px;
}
.top-main__subcontent .top-main__subtitle {
  font-family: 'Alegreya Sans SC', YuMincho, 'Yu Mincho', serif;
  letter-spacing: 1px;
  font-size: 28px;
  border-bottom: 1px #898989 solid;
  padding-left: 10px;
}
.subpage-top-main {
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 140px);
  min-height: 500px;
}



/*****************************************
  contact.html
*****************************************/
.top-main__subcontent--contact {
  width: 100%;
}
.top-main__subcontent--contact form dl {
  width: 95%;
  height: 90px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap ;
  border-bottom: 1px #c0c0c0 solid;
}
.top-main__subcontent--contact form dl.contact__textarea {
  height: 140px;
}
.top-main__subcontent--contact form dl.submit {
  justify-content: center;
  align-items: center;
  border: 0;
}
.top-main__subcontent--contact form dt {
  float: left;
  clear: both;
  width: 25%;
  min-width: 80px;
  display: flex;
  align-items: center;
}
.top-main__subcontent--contact form dd {
  float: left;
  width: 75%;
  display: flex;
  align-items: center;
}
/*------------- input & textarea -------------*/
.top-main__subcontent--contact form input[type="email"] , .top-main__subcontent--contact form select, .top-main__subcontent--contact form textarea {
  width: 90%;
  height: 28px;
  border-radius: 10px;
  outline: 0;
  border: 1px #a0a0a0 solid;
  background-color: #fff;
}
.top-main__subcontent--contact form input[type="email"]:focus , .top-main__subcontent--contact form select:focus, .top-main__subcontent--contact form textarea:focus {
  box-shadow: 0 0 4px 0 #add8e6;
  border: 1px #c0c0c0 solid;
}
.top-main__subcontent--contact form input[type="email"] {
  padding-left: 10px;
}
.top-main__subcontent--contact form select {
  text-align: center;
}
.top-main__subcontent--contact form textarea {
  height: 100px;
  padding-left: 5px;
}
/*------------- submit button -------------*/
.top-main__subcontent--contact form input[type="submit"] {
  width: 250px;
  height: 50px;
  background-color: #fff;
  border: 1px #c0c0c0 solid;
  box-shadow: 0 0 1px 0 #898989;
  border-radius: 5px;
  text-align: center;
  letter-spacing: 5px;
  font-size: 20px;
}
.top-main__subcontent--contact form input[type="submit"]:hover {
  background-color: #898989;
  color: #fff;
  font-weight: bold;
  transition: all .5s;
}


/*****************************************
  contact_confirm.html
*****************************************/
.contact-confirm__text {
  width: 95%;
  height: 40vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.contact-confirm__text h4 {
  width: 100%;
  font-size: 32px;
}
.contact-confirm__text h5 {
  width: 100%;
  font-size: 20px;
}
.contact-confirm__button {
  font-family: 'Alegreya Sans SC', YuMincho, 'Yu Mincho', serif;
  letter-spacing: 0px;
}


/*****************************************
  credits.html
*****************************************/
.top-main__subcontent table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.top-main__subcontent table th,.top-main__subcontent table td{
  padding: 10px 0;
  text-align: center;
}
.top-main__subcontent table th {
  width: 20%;
}
.top-main__subcontent table td {
  width: 30%;
}
.top-main__subcontent table td a {
  color: #00063d;
  border-bottom: 1px solid #c0c0c0;
}
.top-main__subcontent table .url {
  width: 50%;
}
.top-main__subcontent table tr:nth-child(odd){
  background-color: #eee;
}
.top-main__subcontent table tr:nth-child(even){
  background-color: #fff;
}
/*****************************************
  about.html
*****************************************/
.top-main__subcontent__text {
  width: 90%;
  margin: 10px auto;
  font-size: 16px;
  line-height: 1.6;
}