/************************************************************
  スタートぼたん
************************************************************/
@font-face {
  font-family: 'Dela Gothic One';
  src: url(../fonts/DelaGothicOne-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'Anton';
  src: url(../fonts/Anton-Regular.ttf) format("truetype");
}
@font-face {
  font-family: 'ZenKaku Black';
  src: url(../fonts/ZenKakuGothicNew-Black.ttf) format("truetype");
}

/************************************************************
  表示領域
************************************************************/
body{
  /* background-color: #f896d8; */
  width: 100%;
  height: 100vh;
  position: relative;
}
.wrapper{
  width: 90%;
  min-width: 650px;
  max-width: 1920px;
  max-height: 1080px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Anton', 'Zenkaku Black', YuGothic, 'Yu Gothic', sans-serif;
}


/************************************************************
  スタートボタン
************************************************************/
/*
.button-wrapper{
  width: 35%;
  height: 100%;
  margin: 30px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.button-wrapper button{
  width: 100px;
  height: 50px;
  font-size: 18px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 0 2px 2px #c0ccc0;
}
.button-wrapper button:hover{
  background-color: #888;
  color: #fff;
  font-weight: bold;
  box-shadow: none;
  transition: .3s;
} */


/************************************************************
プレイエリア
************************************************************/
/* 表css */
table {
  border-collapse: collapse;
  /* border-spacing: 0px; */
  margin: auto;
  width: 250px;
}
th, td {
  border: solid 2px #333;
}
td {
  height: 0;
  border-radius: 1px;
}
td::after, td::before {
  content: '';
  display: block;
  padding-bottom: 50%;
}


/* area **************************************************/
#area {
  width:250px;
}
/* gameover */
#message {
  font-size: 74px;
  font-weight: bold;
  white-space: nowrap;
  position: absolute;
  letter-spacing: 2px;
  top: 40%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
}
/* menu */
.hopup-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-wrapper{
  /* transform: translateY(-50%);
  transform: translateX(-50%); */
  width: 300px;
  height: 400px;
  background-color: #fff;
  border-radius: 10px;
  border: 8px solid #000;
  box-shadow: 0 0 5px 1px #888;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.menu-wrapper #start{
  font-size: 32px;
  width: 80%;
  height: 80px;
  text-align: center;
  color: #fff;
  background-color: #724cf9;
  border: 4px solid #000;
  border-radius: 15px;
}
.menu-wrapper #start:hover{
  transform: scale(1.05);
  transition: all .4s;
}
#score-rank{
  width: 80%;
  color: #000;
  background-color: #724CF9;
  border-radius: 10px;
  border: 4px solid #000;
  line-height: 2;
  font-size: 20px;
  text-align: center;
}
#score-rank h3{
  color: #000;
  border-bottom: 2px solid #000;
}
#score-rank dt{
  width: 20%;
  float: left;
}
#score-rank dd{
  width: 80%;
  margin-right: 0;
}


.display-none{
  display: none;
}



/* ブロックの色 */
.aqua {
  background-color: #00ffff;
}
.yellow {
  background-color: yellow;
}
.purple {
  background-color: purple;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
.green {
  background-color: #00ff00;
}
.red {
  background-color: red;
}
.gray {
  background-color: #333;
}


/************************************************************
  得点表示,右側画面表紙
************************************************************/
#point-display-area, #right-display-area{
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* transform: skewX(10deg);
  background-color: #ca7df9; */
}
#point-display, #right-display {
  width: 90%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.point-display__element, .right-display__element{
  border: 8px solid #000;
  border-radius: 10px;
  transform: skewX(10deg);
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.point-display__element h2, .point-display__element p{
  transform: skewX(-10deg);
}
.right-display__element{
  transform: skewX(-10deg);
}
#turn-title, #difficulty-title, #score-title{
  font-size: 72px;
  width: 95%;
}
#turn, #difficulty, #score{
  width: 70%;
  margin-left: auto;
  text-align: center;
  font-size: 50px;
  white-space: nowrap;
  letter-spacing: 1px;
}

#score-area {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#difficulty {
  font-family: sans-serif;
  font-weight: bold;
}


/************* 右側画面 *******************************************/
#next-block-element, #points-table, #start-stop-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#next-block-element h4, #points-table h4, #start-stop-buttons h4 {
  width: 95%;
  font-size: 24px;
}
#next-block {
  transform: skewX(10deg);
  width: 50%;
  max-width: 150px;
}
#points-table ul{
  font-size: 18px;
  letter-spacing: 1px;
}

/* 一時停止・リスタートボタン */
.start-stop {
  width: 50px;
  height: 50px;
}
#restart{
  width: 50px;
}
#stop{
  width: 45px;
  padding-bottom: 2px;
}
.start-stop img:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: all .5s;
}

/* リセットボタン */
#reset {
  width: 50px;
}
#reset:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all .5s;
}
