@use "../define/variables" as v;

/*******************************************
  トップページ__ヘッダー
*******************************************/
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic" ,sans-serif;
  // font-family: 'Montserrat', "游明朝", YuMincho, "Yu Mincho", serif;
  // font-family: "游明朝", YuMincho, "Yu Mincho", serif;
}

.top-wrapper {
  width: 100%;
  height: 100vh;
  &__header {
    width: 100%;
    height: calc(100vh / 5);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 #999;
    &__wrapper {
      width: 90%;
      height: 60%;
      display: flex;
      justify-content: space-between;
      align-items: last baseline;
      font-weight: 300;
      &__title{
        font-size: 28px;
      }
      ul {
        li {
          float: left;
          margin-right: 20px;
          font-size: 18px;
        }
      }
    }
  }
  &__content {
    width: 100%;
    height: 80%;
  }
}


/*******************************************
  トップページ__メイン
*******************************************/
.main-wrapper {
  width: 100%;
  &__title {
    font-size: 60px;
    font-weight: 200;
    width: 75%;
    margin: 30px auto;
  }
  &__content {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}