/*******************************************
  more_info.php
*******************************************/
// include
@use "../define/variables" as v;


.more-info-display-area {
  width: 95%;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  &__title {
    width: 100%;
    font-size: 28px;
    margin-bottom: 10px;
  }
  &__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    video {
      width: 73%;
      height: auto;
      background-color: #fff;
      // iPhone safariの枠線を消す
      filter: drop-shadow(0px 0px rgba(0,0,0,0));
      // PCのChromeの枠線を消す
      outline: none;
      border: none;
    }
    &__right {
      width: 25%;
      height: auto;
      text-align: center;
      img {
        width: 70%;
        height: auto;
        margin: 0 auto;
        margin-bottom: 30px;
      }
      a {
        width: 80%;
        margin: 0 auto;
        display: block;
        h3 {
          width: 100%;
          margin: 0 auto;
          line-height: 2;
          font-size: 20px;
          text-align: center;
          display: block;
          padding: 5px 0 5px 0;
          // Borderかぎかっこ
          position: relative;
          $bar-style: solid; 
          $bar-size: 1px;
          $bar-color: v.$black;
          &::before, &::after {
              content:'';
              width: 40px;
              height: 20px;
              position: absolute;
          }
          &::before {
              border-left: $bar-style $bar-size $bar-color;
              border-top: $bar-style $bar-size $bar-color;
              top: 0;
              left: 0;
          }
          &::after {
              border-right: $bar-style $bar-size $bar-color;
              border-top: $bar-style $bar-size $bar-color;
              top: 0;
              right: 0;
          }
        }
        img {
          width: 32px;
          height: auto;
          margin: 10px auto;
          
        }
        p {
          font-size: 14px;
          line-height: 2;
        }
        // Borderかぎかっこ
        position: relative;
        $bar-style: solid; 
        $bar-size: 1px;
        $bar-color: v.$black;
        &::before, &::after {
            content:'';
            width: 40px;
            height: 20px;
            position: absolute;
        }
        &::before {
            border-left: $bar-style $bar-size $bar-color;
            border-bottom: $bar-style $bar-size $bar-color;
            bottom: 0;
            left: 0;
        }
        &::after {
            border-right: $bar-style $bar-size $bar-color;
            border-bottom: $bar-style $bar-size $bar-color;
            bottom: 0;
            right: 0;
        }
      }
    }
  }
  &__bottom {
    width: 90%;
    div {
      width: 100%;
      margin: 30px auto;
    }
    &__title {
      display: inline-block;
      font-size: 28px;
      border-bottom: 1px solid v.$black;
      margin-bottom: 24px;
      &::before{
        white-space: pre-wrap;
        content: ' ';
      }
    }
    h4 {
      width: 95%;
      margin: 0 auto;
      font-size: 18px;
      line-height: 2;
      margin-bottom: 15px;
    }
    p, ol {
      width: 95%;
      margin: 0 auto;
    }
    p {
      text-indent: 1em;
      line-height: 1.5;
    }
    ol {
      width: 90%;
      list-style-type: decimal;
    }
    li {
      line-height: 1.5;
      margin-bottom: 15px;
    }
  }
}


