/*******************************************
  profile.php
*******************************************/
.profile-display-area__content{
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  table {
    width: 100%;
    tr {
      height: 48px;
      th {
        width: 18%;
        vertical-align: bottom;
        text-align: left;
        font-size: 24px;
        font-weight: 300;
        text-indent: 1em;
        border-bottom: 1px solid #000;
        padding-bottom: 5px;
      }
      td {
        vertical-align: bottom;
        font-size: 20px;
        font-weight: 300;
        text-indent: 1em;
        padding-bottom: 5px;
        border-bottom: 1px solid #ddd;
      }
    }
  }
}
