/*******************************************
  works.php (website)
*******************************************/
.works-display-area{
  width: 100%;
  margin: 0 auto;
  &__genres{
    width: 100%;
  }
  .works-category { //カテゴリー名
    display: inline;
    font-size: 28px;
    font-weight: 300;
    border-bottom: 1px solid #000;
    margin-left: -1em;
    &::before{
      white-space: pre-wrap;
      content: ' ';
    }
  }
  .works-flex{ //作品を一覧で並べるflex
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 24px;
  }
  .works-wrap{ //作品一つごとのwrap
    width: 48%;
    min-width: 300px;
    margin-bottom: 20px;
    // box-shadow: 0 0 5px 0 #999;
    position: relative;
    .hover-text{ // hoverしたときに表示する文字
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: rgba($color: black, $alpha: .5);
      display: flex;
      justify-content: center;
      align-items: center;
      p{
        font-size: 24px;
        font-weight: bold;
        color: white;
      }
    }
    &:hover .hover-text{ //hoverしたときの動作
      opacity: 1;
      transition: all .5s;
      cursor: pointer;
    }
    &::before,::after{ //疑似要素の初期化
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      opacity: 1;
    }
    &::before{
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
    .works-img {
      width: 100%;
      aspect-ratio: 16 / 9;
      text-align: center;
      position: relative;
    }
    .img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    img{
      width: 100%;
      height: auto;
      object-fit: cover;
      overflow: hidden;
    }
    .work-name {
      width: 95%;
      height: 30px;
      font-size: 20px;
      margin: 0 auto;
      margin-top: 3px;
      text-align: left;
    }
    .caption {
      font-size: 12px;
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-direction: row-reverse;
    }
  }
}


/*******************************************
  works.php (video)
*******************************************/
.works-wrap {
  .works-iframe {
    width: 100%;
    margin-bottom: 2%;
    iframe {
      width: 100%;
      aspect-ratio: 16 / 9;
    }
  }
}

