////////////* Web Font *////////////
@font-face {
  font-family: 'Silkscreen';
  src: url('../fonts/Silkscreen-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf');
  font-display: swap;
}